$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron {
    @include zero-margin(70px,30px);
    //background: $background-light ;
    background: #0B0C10;
    color:floralwhite;
    min-height: 150px;
}
.tool{
 color: black;
}
.example-spacer {
  flex: 1 1 auto;
}
a {
    text-decoration: none;
    color: #020001;
}
a:hover, a:active{
    color: #FFFFFF;
}
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
mat-toolbar{
    border-radius: 3px;
}
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}

.yellowfont{
  color: #FFBF00;
}
.blackfont{
  color: #020001;
}
