<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
        <h3>About Us</h3>
        <hr>
    </div>
  </div>

  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="70">
        <h2>Our History</h2>
        <p>We work for the principle of social entrepreneurship to strengthen the people around us and the planet we live in; with regard to employability, environmental issues and development.</p>
        <p>We live and work to create a positive, long lasting impact.</p>
      </div>
      <div fxFlex="30">
        <mat-card class="yellowKar">
          <mat-card-header>
            <mat-card-title>
            <h2>Facts At a Glance</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <dl>
              <dd>Re-engineering society; one cause at a time.</dd>
              <dt>Industry</dt>
              <dd>Non-profit Organization Management</dd>
              <dt>Company size</dt>
              <dd>11-50 employees</dd>
              <dt>Headquarters</dt>
              <dd>Mumbai, Maharashtra</dd>
              <dt>Type</dt>
              <dd>Nonprofit</dd>
              <dt>Founded</dt>
              <dd>August 2020</dd>
            </dl>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div fxFlex>
    <mat-card class="yellowKar">
      <blockquote>
        <h3>You better cut the pizza in four pieces because
            I'm not hungry enough to eat six.</h3>
        <footer>-- Yogi Berra,
          <cite>The Wit and Wisdom of Yogi Berra,
            P. Pepe, Diversion Books, 2014</cite>
        </footer>
      </blockquote>
    </mat-card>
  </div>


  <div class="container"
     fxLayout="column"
     fxLayoutGap="10px" *ngIf="leaders" >
    <h1 class="paddingDedo">Our Team</h1>
    <br>

    <br>
    <div class="content" fxLayout="row wrap" fxLayoutGap="40px grid" >
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let l of leaders" >
          <mat-card class="dashboard-card-content" appHighlight>
            <mat-card-header class="dashboard-card-content">
              <mat-card-title><h3>{{l.designation}}</h3></mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{BaseURL + l.image}}" alt={{l.name}}>
            <mat-card-content>
              <p class='font'>
              <i> {{l.name}}</i>
              </p>
            </mat-card-content>
            <mat-card-actions>
                <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
            </mat-card-actions>
          </mat-card>
        </div>
    </div>


 </div>

</div>
