<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
        <h1>About Us</h1>
        <hr>
    </div>
  </div>

  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="70">

        <p>Enactus is an international non-profit organization of students present in over 1730 campuses, spread across 39 countries and has over 72,000 students as active members who make an impact in the community, not in the form of charity, but by using the positive power of entrepreneurship.
          We are Enactus S.P.I.T., the student chapter of Enactus India at Bharatiya Vidya Bhavan's Sardar Patel Institute of Technology, Andheri (W), Mumbai.  We started in August 2020 and have been up and running energetically ever since.
          We work for the principle of social entrepreneurship to strengthen the people around us and the planet we live in; with regard to employability, environmental issues and development.
          We live and work to create a positive, long lasting impact.</p>
      </div>
      <div fxFlex="30">
        <mat-card class="yellowKar">
          <mat-card-header>
            <mat-card-title>
            <h2>Facts At a Glance</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <dl>
              <dd><p><b>Re-engineering society; one cause at a time.</b></p></dd>
              <dt><b>Industry:</b></dt>
              <dd><i>Non-profit Organization Management</i></dd>
              <dt><b>Company size:</b></dt>
              <dd><i>11-50 employees</i></dd>
              <dt><b>Headquarters:</b></dt>
              <dd><i>Mumbai, Maharashtra</i></dd>
              <dt><b>Type:</b></dt>
              <dd><i>Nonprofit</i></dd>
              <dt><b>Founded:</b></dt>
              <dd><i>August 2020</i></dd>
            </dl>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div fxFlex>
    <mat-card class="yellowKar">
      <blockquote>
        <h3>With a head for business and a heart for the world, we live our values of integrity, passion, innovation and collaboration.</h3>

      </blockquote>
    </mat-card>
  </div>


  <div class="container"
     fxLayout="column"
     fxLayoutGap="10px" *ngIf="leaders" >
    <h1 class="paddingDedo">Our Team</h1>
    <br>

    <br>
    <div [hidden]="leaders || leaderErrMess">
      <mat-spinner class="custom-spinner"></mat-spinner><h4>Loading . . . Please Wait</h4>
    </div>
    <div class="content" fxLayout="row wrap" fxLayoutGap="40px grid" >
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let l of leaders" >
          <mat-card class="dashboard-card-content" appHighlight @expand>
            <mat-card-header class="dashboard-card-content">
              <mat-card-title><h3>{{l.designation}}</h3></mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{BaseURL + l.image}}" alt={{l.name}}>
            <mat-card-content>
              <p class='font'>
              <i> {{l.name}}</i>
              </p>
            </mat-card-content>
            <mat-card-actions>
                <a mat-icon-button class="btn-linkedin" href={{l.l_url}}><i class="fa fa-linkedin fa-lg"></i></a>
            </mat-card-actions>
          </mat-card>
        </div>
    </div>


 </div>

</div>
