:host ::ng-deep .custom-spinner circle{
    stroke: #FFD700;
}
.container {
  //background-image: linear-gradient(315deg, #fec84e 0%, #ffdea8 74%);
  background-color: #020001;
  color:floralwhite;
}
