:host ::ng-deep .custom-spinner circle{
    stroke: #FFD700;
}
.container {
  //background-image: linear-gradient(315deg, #fec84e 0%, #ffdea8 74%);
  background-color: #020001;
  color:floralwhite;
}
.alignRButton{
  padding-right: 50px;
}
.alignLButton{
  padding-left: 50px;
  padding-bottom: 40px;
}
a:hover, a:active{
    color: #020001;
}
a {
    text-decoration: none;
    color: #020001;
}
