<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
        <h1>Contact Us</h1>
        <hr>
    </div>
  </div>

  <div fxFlex>
    <h3>Location Information</h3>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="50" fxFlexOffset="20px">
        <h4>Our Address</h4>
        <address>
          Bharatiya Vidya Bhavans Sardar Patel Institute of Technology,<br> Munshi Nagar, Andheri (West), <br> Mumbai 400 058<br>
          <i class="fa fa-phone"></i>: +91 84519 00512<br>
          <i class="fa fa-phone"></i>: +91 99671 03647<br>
          <i class="fa fa-envelope"></i>:
                <a href="mailto:enactus@spit.ac.in">enactus@spit.ac.in</a>
        </address>
        <p></p>
        <div>
          <a mat-raised-button href="tel:+85212345678"><i class="fa fa-phone"></i> Call</a>

          <a mat-raised-button href="mailto:enactus@spit.ac.in"><i class="fa fa-envelope-o"></i> Email</a>
         </div>
         </div>
       <div fxFlex="40">
         <h4>Map of our Location</h4>
         <div style="width:100%;height:400px"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3769.646049226283!2d72.83392671419739!3d19.123177587060876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9d90e067ba9%3A0x16268e5d6bca2e6a!2sBharatiya%20Vidya%20Bhavan&#39;s%20Sardar%20Patel%20Institute%20of%20Technology!5e0!3m2!1sen!2sin!4v1608473623592!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>
        </div>
     </div>
   </div>
   <div fxFlex fxFlexOffset="20px" class="form-size">
     <h3>Send us your Message</h3>

     <div [hidden] = "isLoading"  [@visibility]="visibility" [@expand]>
    <form novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field class="half-width">
          <input matInput formControlName="firstname" placeholder="First Name" type="text" required>
          <mat-error *ngIf="formErrors.firstname">{{formErrors.firstname}}</mat-error>
        </mat-form-field>
        <mat-form-field class="half-width">
          <input matInput formControlName="lastname" placeholder="Last Name" type="text" required>
          <mat-error *ngIf="formErrors.lastname">{{formErrors.lastname}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="half-width">
          <input matInput formControlName="telnum" placeholder="Tel. Number" type="tel" pattern="[0-9]*" required>
          <mat-error *ngIf="formErrors.telnum">{{formErrors.telnum}}</mat-error>
        </mat-form-field>
        <mat-form-field class="half-width">
          <input matInput formControlName="email" placeholder="Email" type="email" required>
          <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
        </mat-form-field>
      </p>
      <table class="form-size">
        <td>
          <mat-slide-toggle formControlName="agree">May we contact you?</mat-slide-toggle>
        </td>
        <td>
          <mat-select placeholder="How?" formControlName="contacttype">
            <mat-option *ngFor="let ctype of contactType" [value]="ctype">
              {{ ctype }}
            </mat-option>
          </mat-select>
        </td>
        </table>
      <p>
        <mat-form-field class="full-width">
          <textarea matInput formControlName="message" placeholder="Your Message" rows=12></textarea>
        </mat-form-field>
      </p>
      <p>
      <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="feedbackForm.invalid">Submit</button>
      </p>
    </form>
    </div>
  <div [hidden] = "!isLoading || isShowingResponse">
    <mat-spinner class="custom-spinner"></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf = "isShowingResponse">

    <h2>Your Submission</h2>
    <p>First Name: {{feedback.firstname}}</p>
    <p>Last Name: {{feedback.lastname}}</p>
    <p>Telephone: {{feedback.telnum}}</p>
    <p>Contact Type: {{feedback.contacttype}}</p>
    <p>Message: {{feedback.message}}</p>

  </div>

</div>
</div>
