<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

     <div class="content" fxLayout="row wrap" fxLayoutGap="40px grid" >
         <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let h of homes" >
           <mat-card class="dashboard-card-content">
             <mat-card-header>
               <mat-card-title><h3>{{h.name}}</h3></mat-card-title>
             </mat-card-header>
             <img mat-card-image src="{{BaseURL + h.image}}" alt={{h.name}}>
             <mat-card-content>
               <p class='font'>
               <i> {{h.content}}</i>
               </p>
             </mat-card-content>
             
           </mat-card>
         </div>
     </div>








</div>
