<div>
<div class="container"
   fxLayout="row"
   fxLayout.sm="column"
   fxLayout.xs="column"
   fxLayoutAlign.gt-md="space-around center"
   fxLayoutGap="10px">

<div *ngFor="let h of homes" >

<mat-card class="bg" fxFlex @expand>
  
  <img mat-card-image src="{{ BaseURL + h.image }}" alt={{h.name}}>
  <mat-card-content>
    <p>{{h.content}}
    </p>
  </mat-card-content>
</mat-card>
<div [hidden]=" h || errMess">
  <mat-spinner></mat-spinner>
  <h4>Loading . . . Please Wait</h4>
</div>
<div fxFlex *ngIf="errMess">
  <h2>Error</h2>
  <h4>{{errMess}}</h4>
</div>
</div>
