:host ::ng-deep .custom-spinner circle{
    stroke: #FFD700;
}

.btn-linkedin{
  color:#fff!important;background-color:#007bb6!important;

}
.bg{
  background-color: #ffd54f;
}
.content{
  padding-left: 50px;
  padding-right: 50px;
  background-color: #ffd54f;
  //background-image: linear-gradient(315deg, #fec84e 0%, #ffdea8 74%);


}
.contentF{
  padding-left: 35%;
  //background-color: #FFFFE0;
  background-image: linear-gradient(315deg, #fec84e 0%, #ffdea8 74%);


}

.grid-container {
    margin: 20px;
  }

.paddingDedo{
  padding-left: 25%;
}
.dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    max-width: 150px;
    min-width: 150px;
  }

.dashboard-card-content {
    justify-content: center;


  }
.container {
  //background-image: linear-gradient(315deg, #fec84e 0%, #ffdea8 74%);
  margin: 20px;
  display:flex;
  //background-color: #ffd54f;

}

img{
  height: 300px;
  width: 269x;

  }
mat-card-actions{
  padding-left: 45%;

}
.font{
  font-size: 1.3em;
  text-align: center;
}

.main-div{
  //height: 80vh;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
