<mat-toolbar color="accent">
    <b>Coming Soon !</b>
  <span class="flex-spacer"></span>
  <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>
  <div fxLayoutAlign.xs="start center"
  fxLayoutAlign.sm="start center"
  fxLayoutAlign.gt-sm="center center">
    <mat-dialog-content>
      <p>
        <i>More projects launching soon!</i>
      </p>
      <p>
        We keep taking up projects which empower people and preserve our planet 🌍
      </p>
      <p>
        Stay tuned for more, because we aren't gonna stop empowering, employing and engaging people!
      </p>


    </mat-dialog-content>
    <mat-dialog-actions>
      <span class="flex-spacer"></span>

    </mat-dialog-actions>
  </div>
